<ion-header >
  <ion-toolbar>
    <ion-title>Agendar hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Terapeuta: {{ terapeuta }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha y hora: </ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime color="dark" locale="es-ES">
        <span slot="time-label">Tiempo</span>
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="agendamiento()">Agendar hora</ion-button>
</ion-content>

<ion-footer>
  <ion-button shape="block" [routerLink]="['/home']">Volver al Home</ion-button>
</ion-footer>
