<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list class="formulario">    
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" maxlength="30" required></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" maxlength="6" required></ion-input>
        
      </ion-item>
    </ion-list>
  </form>
  <ion-button [routerLink]="['/login']" expand="block">Registrarse</ion-button>
</ion-content>

<ion-footer>
  <ion-button [routerLink]="['/login']" expand="block">Volver al login</ion-button>
</ion-footer>