ion-item {
    --background: #C37469;
}
  
ion-button {
    --background: #BEA2E0;
    --ripple-color: deeppink;
}
  
ion-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ion-footer {
    background-color: #C37469;
}