<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-title>
          Spa Moonlight
        </ion-title>
        
        <img [src]="getLogoPath('LogoSpaMoonlight.png')" alt="iconoLogo" style="width: 50px; height: auto;">
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spa Moonlight</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <h3>Hola {{ usuarioRec }}!</h3>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <img [src]="getImagePath('DetalleSpaMoonlight.png')" alt="imagenDetalle" style="width: auto; height: auto;">
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <h3>Tu espacio para relajarte</h3>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-button shape="block" [routerLink]="['/informacion']">Extras</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<app-boton></app-boton>

<ion-footer>
  <ion-button shape="block" [routerLink]="['/agendamiento']">Ir a agendar</ion-button>
</ion-footer>